<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - Safelock Security</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
    </style>
</head>
<body>
    <div class="box">
       <a href="index.html" class="logo">Safelock Security</a>
        <h2>Reset Your Password</h2>
        <p>Enter your registered email address below. We will send you a secure link to reset your credentials.</p>
        
        <form action="/forgot_password" method="POST">
            <input type="email" id="reset-email" name="reset-email" placeholder="Email Address" required>
            <button type="submit" class="btn">Send Reset Link</button>
        </form>
        <a href="signin.html" class="back-link" style="color: #990100; font-size: 14px; text-decoration: none;">← Back to Sign In</a>
    </div>

    <script>
        function handleLogout() {
            localStorage.clear();
            window.location.href = "{{ url_for('signin') }}";
        }
    </script>
</body>
</html>
