<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - Safelock Security</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
    </style>
</head>
<body>
    <div class="box">
        <a href="index.html" class="logo">Safelock Security</a>
        
        <form action="/signup" method="POST">
            <input type="text" id="fullname" name="fullname" placeholder="Full Name" required>
            <input type="text" id="username-signup" name="username-signup" placeholder="Username" required>
            <input type="email" id="email-signup" name="email-signup" placeholder="Email Address" required>
            <input type="password" id="pass-signup" name="pass-signup" placeholder="Password" required>
            <div class="rules">Security Policy: Min 12 characters, including Uppercase, Lowercase, Number, and Symbol.</div>
            <input type="password" id="confirm-pass" name="confirm-pass" placeholder="Confirm Password" required>
            <button type="submit" class="btn">Create Account</button>
        </form>
        <div class="google-auth-container">
            <p class="separator"><span>OR</span></p>
            <a href="/google_login" class="btn-google">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google Logo" class="google-icon">
                Continue with Google
            </a>
        </a>
    </div>
        <div class="login-link">
            Already have an account? <a href="signin.html" style="color: #990100; font-weight: bold; text-decoration: none;">Sign In</a>
        </div>
</body>
</html>
